<div class="board-container">

  <div class="list-container">
    <h2 class="list-title">TODO</h2>
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList, doneList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of todo; track task) {
        <div class="task-card" cdkDrag>
          <h3 class="task-title">{{ task.title }}</h3>
          <p class="task-description">{{ task.description }}</p>
        </div>
      }
      <button class="add-task-button" (click)="addTask('todo')">+ Adicionar Tarefa</button>
    </div>
  </div>

  <div class="list-container">
    <h2 class="list-title">Development</h2>
    <div
      cdkDropList
      #inProgressList="cdkDropList"
      [cdkDropListData]="inProgress"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of inProgress; track task) {
        <div class="task-card" cdkDrag>
          <h3 class="task-title">{{ task.title }}</h3>
          <p class="task-description">{{ task.description }}</p>
        </div>
      }
      <button class="add-task-button" (click)="addTask('inProgress')">+ Adicionar Tarefa</button>
    </div>
  </div>

  <div class="list-container">
    <h2 class="list-title">Done</h2>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList, inProgressList]"
      class="task-list"
      (cdkDropListDropped)="drop($event)"
    >
      @for (task of done; track task) {
        <div class="task-card" cdkDrag>
          <h3 class="task-title">{{ task.title }}</h3>
          <p class="task-description">{{ task.description }}</p>
        </div>
      }
      <button class="add-task-button" (click)="addTask('done')">+ Adicionar Tarefa</button>
    </div>
  </div>
</div>