<div class="signup-container">
  <form 
    class="modern-form" 
    [formGroup]="signupForm"
    [class.hidden]="signUpSuccess">

    <div *ngIf="signUpError" class="error-message">
      {{ signUpError }}
    </div>
    
    <div class="form-title">Sign Up</div>

    <div class="form-body">
      <div class="input-group">
        <div class="input-wrapper">
          <img src="https://img.icons8.com/?size=100&id=82751&format=png&color=000000" alt="name-icon" class="input-icon">
          <input
            required=""
            placeholder="Name"
            class="form-input"
            type="text"
            formControlName="name"
          />
        </div>
      </div>

      <div class="input-group">
        <div class="input-wrapper">
          <img src="https://img.icons8.com/?size=100&id=85467&format=png&color=000000" alt="email-icon" class="input-icon">
          <input
            required=""
            placeholder="Email"
            class="form-input"
            type="email"
            formControlName="email"
          />
        </div>
      </div>

      <div class="input-group">
        <div class="input-wrapper">
          <img src="https://img.icons8.com/?size=100&id=85056&format=png&color=000000" alt="password-icon" class="input-icon">
          <input
            required=""
            placeholder="Password"
            class="form-input"
            type="password"
            formControlName="password"
          />
        </div>
      </div>
    </div>

    <button (click)="onSignup()" class="submit-button" type="submit" [class.error]="signUpError" >
      <span class="button-text">Sign Up</span>
      <div class="button-glow"></div>
    </button>
  </form>

  <div *ngIf="signUpSuccess" class="welcome-message">
    Bem-vindo(a), <strong>{{ userName }}</strong>!
  </div>
</div>
