<div class="boards-page">
  <header class="boards-header">
    <div class="header-content">
      <h1 class="app-title">TaskFlow</h1>
      <button class="back-button" [routerLink]="['/main']">← Último board</button>
    </div>

    <input type="text" placeholder="Buscar boards..." class="search-input" />
    <button class="create-board-button" (click)="toggleCreateForm()">+ Criar Novo Board</button>

    <div *ngIf="showCreateForm" class="overlay" (click)="toggleCreateForm()"></div>
    <div *ngIf="showCreateForm" class="create-board-form" style="margin-top: 10px;">
      <h3>Criar Novo Board</h3>
      <input
        type="text"
        placeholder="Título do Board"
        [(ngModel)]="newBoardTitle"
        class="form-input"
      />
      <textarea
        placeholder="Descrição (opcional)"
        [(ngModel)]="newBoardDescription"
        class="form-textarea"
      ></textarea>
      <div class="form-actions">
        <button (click)="createBoard()" class="form-submit-button">Criar</button>
        <button (click)="toggleCreateForm()" class="form-cancel-button">Cancelar</button>
      </div>
    </div>
  </header>

  <div class="boards-container">
    <div *ngFor="let board of boards" class="board-card">
      <h3 class="board-title">{{ board.title }}</h3>
      <div class="board-actions">
        <button class="favorite-button">★</button>
        <button class="delete-button" (click)="deleteBoard(board.id)">
          <img src="https://img.icons8.com/?size=100&id=68064&format=png&color=000000" alt="Delete Icon" class="delete-icon" />
        </button>
      </div>
    </div>
  </div>
</div>
