<div class="login-container">
  <form 
    class="modern-form" 
    [formGroup]="loginForm" 
    [class.hidden]="loginSuccess">
    <div class="form-title">Login</div>

    <!-- Mensagem de erro -->
    <div *ngIf="loginError" class="error-message">
      {{ loginError }}
    </div>
    <!-- Fim da mensagem de erro -->
  
    <div class="form-body">
      <div class="input-group">

        <!-- reuse no cadastro -->

        <!-- <div class="input-wrapper">
          <svg fill="none" viewBox="0 0 24 24" class="input-icon">
            <circle
              stroke-width="1.5"
              stroke="currentColor"
              r="4"
              cy="8"
              cx="12"
            ></circle>
            <path
              stroke-linecap="round"
              stroke-width="1.5"
              stroke="currentColor"
              d="M5 20C5 17.2386 8.13401 15 12 15C15.866 15 19 17.2386 19 20"
            ></path>
          </svg>
          <input
            required=""
            placeholder="Username"
            class="form-input"
            type="text"
            formControlName="name"
          />
        </div> -->
      </div>
  
      <div class="input-group">
        <div class="input-wrapper">
          <img src="https://img.icons8.com/?size=100&id=85467&format=png&color=000000" alt="email-icon" class="input-icon">
          <input
            required=""
            placeholder="Email"
            class="form-input"
            type="email"
            formControlName="email"
          />
        </div>
      </div>
  
      <div class="input-group">
        <div class="input-wrapper">
          <img src="https://img.icons8.com/?size=100&id=85056&format=png&color=000000" alt="password-icon" class="input-icon">
          <input
            required=""
            placeholder="Password"
            class="form-input"
            type="password"
            formControlName="password"
          />

          <button class="password-toggle" type="button"> 
            <svg fill="none" viewBox="0 0 24 24" class="eye-icon">
              <path
                stroke-width="1.5"
                stroke="currentColor"
                d="M2 12C2 12 5 5 12 5C19 5 22 12 22 12C22 12 19 19 12 19C5 19 2 12 2 12Z"
              ></path>
              <circle
                stroke-width="1.5"
                stroke="currentColor"
                r="3"
                cy="12"
                cx="12"
              ></circle>
            </svg>
          </button>
        </div>
      </div>
    </div>
  
    <button 
      (click)="onLogin()" 
      class="submit-button" 
      [class.error]="loginError" 
      type="submit">
      <span class="button-text">Login</span>
      <div class="button-glow"></div>
    </button>
  
    <div class="form-footer">
      <a class="login-link" href="#">
        Do not have an account? <span>Sign up</span>
      </a>
    </div>
  </form>

  <!-- Mensagem de boas-vindas -->
  <div *ngIf="loginSuccess" class="welcome-message">
    Bem-vindo(a), <strong>{{ userName }}</strong>!
  </div>
</div>



