<div class="login-container">
  <form 
    class="modern-form" 
    [formGroup]="loginForm" 
    [class.hidden]="loginSuccess">
    <div class="form-title">Login</div>

    <div *ngIf="loginError" class="error-message">
      {{ loginError }}
    </div>
  
    <div class="form-body">
      <div class="input-group">
        <div class="input-wrapper">
          <img src="https://img.icons8.com/?size=100&id=85467&format=png&color=000000" alt="email-icon" class="input-icon">
          <input
            required=""
            placeholder="Email"
            class="form-input"
            type="email"
            formControlName="email"
          />
        </div>
      </div>
  
      <div class="input-group">
        <div class="input-wrapper">
          <img src="https://img.icons8.com/?size=100&id=85056&format=png&color=000000" alt="password-icon" class="input-icon">
          <input
            required=""
            placeholder="Password"
            class="form-input"
            type="password"
            formControlName="password"
          />
        </div>
      </div>
    </div>
  
    <button 
      (click)="onLogin()" 
      class="submit-button" 
      [class.error]="loginError" 
      type="submit">
      <span class="button-text">Login</span>
      <div class="button-glow"></div>
    </button>
  
    <div class="form-footer">
      <a class="login-link" routerLink="/signup">
        // TODO - Colocar o link para a página de cadastro
        Não tem uma conta? <span>Cadastre-se</span>
      </a>
    </div>
  </form>

  <!-- Mensagem de boas-vindas -->
  <div *ngIf="loginSuccess" class="welcome-message">
    Bem-vindo(a), <strong>{{ userName }}</strong>!
  </div>
</div>



